/* general style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: url("../img/bmi-letters-wooden-blocks-pillar-form-white-background-copy-space_132358-2386.jpg")
    no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}
/* contianer style */
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Bmi box Seciton! */
.bmiBox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 800px;
  height: 300px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
/* row section */
.row {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.row span{
    font-size: 20px;
}
input[type="range"] {
  outline: none;
  width: 80%;
  height: 6px;
}
#result{
    font-size: 30px;
    font-weight: bold;
}
#category{
    font-size: 30px;
    font-weight: bold;
}
